body {
  /* background-image: linear-gradient(to right, #f46b45, #eea849); */
  background-image: linear-gradient(to right, #606c88, #ffc0cb);
  color: black;
  text-align: center;
  font-style: inherit;
  font-size: larger;
}

h2 {
  font-size: 2.5rem;
}

.wrapper {
  width: fit-content;
  margin: auto;
}

.flex-container {
  display: flex;
  color: #000;
}

.hint-btn,
.reset-btn,
.notif-btn {
  cursor: pointer;
  font-size: 20px;
  font-style: inherit;
  background-color: #eae2b6;
  border-radius: 5rem;
}

.reset-btn {
  margin-left: auto;
}

.alpha {
  width: 2rem;
  height: 2rem;
  background: #b2eaed;
  border: none;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}

.alpha:hover {
  background-color: solid #ffc0cb;
  border: none;
}

.disabled {
  /* pointer-events: none;
  background-color: darkgray; */
  transition: opacity 1s;
  opacity: 0;
}

.word-div {
  display: inline-flex;
}

.letter {
  margin-right: 6rem;
  font-style: inherit;
}

.notif {
  position: absolute;
  top: 72.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f08dae;
  width: 20rem;
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.hangman-container {
  position: relative;
  height: 300px;
  width: 300px;
  margin: auto;
}

.hangman-container > div {
  transition: all 500ms;
}
.hangman-container.hanged > div {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.775);
}

.hangman-container .platform {
  width: 80%;
  height: 5px;
  background-color: #000;
  transform: translate(28px, 295px);
}

.hangman-container .trapdoor {
  width: 30%;
  height: 5px;
  background-color: #000;
  transform: translate(142px, 184px);
  transform-origin: right;
}
.hangman-container.hanged .trapdoor {
  transform: translate(142px, 184px) rotate(-90deg);
}

.hangman-container .trapdoor-left-vertical {
  height: 107px;
  width: 5px;
  background-color: #000;
  transform: translate(122px, 179px);
}

.hangman-container .trapdoor-right-vertical {
  height: 107px;
  width: 5px;
  background-color: #000;
  transform: translate(246px, 72px);
}

.hangman-container .trapdoor-lateral-left {
  width: 19px;
  height: 5px;
  background-color: black;
  transform: translate(123px, -35px);
}

.hangman-container .trapdoor-lateral-right {
  width: 19px;
  height: 5px;
  background-color: black;
  transform: translate(232px, -40px);
}

.hangman-container .vertical-post {
  height: 280px;
  width: 5px;
  background-color: #000;
  transform: translate(70px, -217px);
}

.hangman-container .lateral-post {
  width: 120px;
  height: 5px;
  background-color: #000;
  transform: translate(71px, -497px);
}

.hangman-container .rope {
  height: 8%;
  width: 5px;
  background-color: #000;
  transform: translate(186px, -498px);
}
.hangman-container.hanged .rope {
  height: 15%;
}

.hangman-container .head {
  width: 29px;
  height: 29px;
  border: 3px solid #000;
  border-radius: 50px;
  transform: translate(171px, -498px);
}

.hangman-container .body {
  height: 23%;
  width: 5px;
  background-color: #000;
  transform: translate(186px, -589px);
}

.hangman-container .left-arm {
  height: 15%;
  width: 5px;
  background-color: #000;
  transform: translate(170px, -496px) rotate(46deg);
}
.hangman-container.hanged .left-arm {
  transform: translate(179px, -490px) rotate(15deg);
}

.hangman-container .hidden-part {
  visibility: hidden;
}

.hangman-container .right-arm {
  height: 15%;
  width: 5px;
  background-color: #000;
  transform: translate(201px, -541px) rotate(135deg);
}
.hangman-container.hanged .right-arm {
  transform: translate(194px, -535px) rotate(164deg);
}

.hangman-container .left-leg {
  height: 17%;
  width: 5px;
  background-color: #000;
  transform: translate(177px, -594px) rotate(21deg);
}
.hangman-container.hanged .left-leg {
  transform: translate(182px, -591px) rotate(8deg);
}

.hangman-container .right-leg {
  height: 17%;
  width: 5px;
  background-color: #000;
  transform: translate(196px, -644px) rotate(155deg);
}
.hangman-container.hanged .right-leg {
  transform: translate(192px, -642px) rotate(169deg);
}